
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import 'guest-nav';

// Shared

@import './shared/sidebar.scss';
@import './shared/appointments.scss';
html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    height: 100vh;
    margin: 0;
}

.clear{
    margin:0;
    padding:0;
}