
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import 'guest-nav';

// Shared

@import './shared/sidebar.scss';
@import './shared/appointments.scss';
html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    height: 100vh;
    margin: 0;
}

.clear{
    margin:0;
    padding:0;
}
.btn-rmv{
    background-color: $orange;
    color: white;
    text-align: center;
    align-self: center;
    border-radius:30px;
    padding:5px 12px;
    font-weight:900;
}
.btn-add{
    background-color: $blue;
    color: white;
    text-align: center;
    align-self: center;
    border-radius:30px;
    padding:8px 20px;
    opacity: 0.9;
    &:hover{
        opacity:1;
        color:white !important;
    }
}
.bnt-edt{
    background-color:$blue;
    color: white;
    text-align: center;
    align-self: center;
    border-radius:30px;
    padding:8px 20px;
    font-weight:900;
}
.btn-secondary{
    border-radius:20px;
    margin-left:10px;
}