.appointments{
    background-color: $background-darkwhite;
    padding:20px;
    border-top:2px solid $color-border-white;
    .header{
        display:flex;
        flex-direction:row;
        justify-content: space-between;
        h1{
            font-weight: 500;
        }
        .btn-add{
            background-color: #f6993f;
            color: white;
            text-align: center;
            align-self: center;
            border-radius:30px;
            padding:8px 20px;
        }
    }
    .card-body{
        background-color: white;
        margin: 10px;
        border-radius: 10px;
        -webkit-box-shadow: 2px 3px 7px 0px rgba(150,150,150,0.45);
        -moz-box-shadow: 2px 3px 7px 0px rgba(150,150,150,0.45);
        box-shadow: 2px 3px 7px 0px rgba(150,150,150,0.45);
        h3{
            span{
                text-transform: capitalize;
            }
        }
    }
}