.appointments{
    background-color: $background-darkwhite;
    padding:20px;
    border-top:2px solid $color-border-white;
    min-height:100vh;
    .header{
        display:flex;
        flex-direction:row;
        justify-content: space-between;
        h1{
            font-weight: 500;
            margin-bottom: 2rem;
        }
    }
    .card-body{
        background-color: white;
        margin: 10px;
        border-radius: 10px;
        -webkit-box-shadow: 2px 3px 7px 0px rgba(150,150,150,0.45);
        -moz-box-shadow: 2px 3px 7px 0px rgba(150,150,150,0.45);
        box-shadow: 2px 3px 7px 0px rgba(150,150,150,0.45);
        h3{
            span{
                text-transform: capitalize;
            }
        }
        p{
            margin:10px 0px;
        }
        .btn-rmv{
            float:right;
        }
        .card-text{
            font-weight: 500;
        }
    }
    form{
        background-color:white;
        padding:20px 40px 20px 20px;
        border-radius:10px;
        .btn-secondary{
            float:right;
        }
    }
}