.sidebar{
    // width:40%;
    background-color:$background-white;
    height:100%;
    border-top:2px solid $color-border-white;
    border-right:1px solid rgba(150,150,150,0.45);
    ul{
        margin: 0;
        padding:0;
        li{
            list-style-type: none;
            background-color:$background-white;
            padding:20px;
            cursor:pointer;
            &:hover{
                background-color:$color-accent-white;
                a{
                  opacity:1;  
                }
            }
            a{
                padding:20px 0px;
                color:$color-font-dark;
                font-weight:bold;
                i{
                    opacity:0.7;
                    color:$orange;
                }
                span{
                    padding-left:15px;
                }
                &:hover{
                    text-decoration: none;
                }
            }
        }
    }
}